@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";

@import "../sass/base";

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h1 {
    font-size: 40px;
    letter-spacing: -1px;
}

h2 {
    font-size: 24px;
    letter-spacing:  -0.25px;
}

h3 {
    font-size: 16px;
    letter-spacing: -0.25px;
}


.dev-site-notice {
    display: none;
}

#report-cta {
    border-color: #ddd;
}

#site-header {
    background-color: $brown;
}

#site-logo {
    height: 54px;
    width: 54px;
    background-size: 54px 54px;
    @include svg-background-image("/cobrands/transportfocus/images/logo");
    padding: 0.5em 0;
    margin-top: 2px;
    .mappage & {
        padding: 0;
    }
}

.nav-menu {
    a, span {
        border-bottom: 1px solid lighten($brown, 10%);
        background-color: $brown;
        color: white;
        &:hover,
        &:active,
        &:focus {
            color: white;
            background-color: $blue;
        }
        &:visited {
            color: white !important;
        }
    }
   
} 

.content footer .tablewrapper {
    background: white;
}

#front-main {
    text-align: left;
    padding: 1em;
    background-color: $primary;
    color: white;
    margin: 0;
    #postcodeForm {
        padding-top: 0;
        div {
            margin-left:0 !important;
            margin-right:0 !important;;
            background: transparent;
            input#pc {
                background: white;
            }
            input#sub {
                background-color: $brown;
            }
        }
    }
    .form-hint {
        color: rgba(255,255,255,0.6);
    }
}

ol.big-numbers > li::before {
    color: $brown;
}

// Set the default font colour everywhere
body, .content {
  color: black;
}

.btn-primary, .green-btn, .btn--primary {
    background: $blue;
    border: 1px solid $blue;
    &:hover,
    &:active,
    &:focus {
        background: darken($blue, 10%);
        border: 1px solid darken($blue, 10%);
    }
}


a#geolocate_link {
  color: $primary;
}


.olMapViewport {
    background-color: #fff;
}

.olLayerGrid, .olBackBuffer {
    opacity: 0.3;
    filter: grayscale(1);
}

.extra-category-questions {
    .form-section-description {
        display: none;
    }
    label {
        margin-top: 0;
    }
}

.transport-focus-logo {
    display: inline-block;
    height: 60px;
    width: 200px;
    background-size: 200px 60px;
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: -10000%;
    @include svg-background-image("/cobrands/transportfocus/images/transport-focus-logo");
}

#footer p {
    text-align: center;
    margin-top: 2em;
}

#key-tool-report-updates {
    display: none !important;
}

.post-steps {
    border-top: 3px dashed $brown;
    margin-top: 2em;
    padding-top: 1.5em;
    text-align: center;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    h2 {
        margin-bottom: 0.25em;
    }
    p {
        line-height: 1.35em;
    }
    h2, p {
        margin-right: 1.5em;
        margin-left: 1.5em;
    }
}

.post-steps-column {
    img {
        display: inline-block;
        max-width: 66%;
        height: auto;
        margin: 0 auto
    }
}
