@import "_colours";
@import "../sass/layout";

#main-nav {
  margin-top: 0.25em;
}

.nav-menu--main {
  a {
    &:hover,
    &:active,
    &:focus {
      background: transparent;
    }
  }
}

.nav-menu--main span {
  color: lighten($blue, 10%);
}

#front-main {
  padding: 6em 0;
}